* {
  box-sizing: border-box;
}

body {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

header {
  margin: 48px 0 24px;
}

h1 {
  margin-bottom: 8px;
}

#year-slider {
  margin: 10px
}

.subtle-link {
  text-decoration: none;
  color: #666;
}
.subtle-link:hover {
  text-decoration: underline;
}

.paper-list {
  list-style: none;
  padding: 0;
  margin: 36px 0;
}

.container {
  margin: 0 auto;
  width: 720px;
  max-width: 100%;
}

.paper {
  position: relative;
  font-size: 16px;
  line-height: 1.4;
  border-bottom: 1px solid #EEE;
  color: #333;
}

.paper .title {
  margin-right: 36px; /* leaves room for .edit */
}

.paper .link {
  color: #0366d6;
  text-decoration: none;
}
.paper .link:hover {
  text-decoration: underline;
}

.paper .edit {
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
}
.paper:hover .edit {
  visibility: visible;
}

.paper .details {
  margin-left: 18px;
  color: #666;
  transition: color ease-out 120ms;
}
.paper:hover .details {
  color: inherit;
}
